@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    /* 
    ## Colors

    ### Primary 
    
    */

    --Pale-Violet /*(sub-heading at the top of the app UI)*/: hsl(276, 100%, 81%);
    --Moderate-Violet /*(chat on the left)*/: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet /*(chat on the right)*/: hsl(271, 15%, 43%);
    --Grayish-Blue /*(placeholder text)*/: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet /*(main heading)*/: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet /*(paragraph)*/: hsl(270, 7%, 64%);

    /* #### Gradients */

    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);

    /* ### Secondary */

    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet /*(app background)*/: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet /*(submit button background)*/: hsl(271, 36%, 24%);
    --Very-Light-Magenta /*(radio button outline)*/: hsl(289, 100%, 72%);


    --font: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    font-size: 16px;
    background: var(--Light-Grayish-Violet);
} 

/* Inicio img de fundo */
    .bg-top {
        position: absolute;
        top: -373px;
        left: -177px;
    }

    .bg-bottom {
        width: 410px;
        height: 656px;
        background: url(../images/bg-bottom.svg) no-repeat;
        background-size: cover;
        position: absolute;
        top: 307px;
        right: 4px;
    }
/* Fim img de fundo */

/* Incio conf phone */

    .container {
        position: relative;
        width: 345px;
        background: var(--White);
        top: 100px;
        left: 247px;
        padding: 12px;
        border-radius: 30px;
    }

    .phone {
        background: var(--Light-Grayish-Violet); 
        border-radius: 30px;
    }

    /* Inicio profile */

    .profile {
        background: linear-gradient(to right, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
        height: 67px;
        border-radius: 23px 23px 7px 7px;
    }

    .top {
        width: 175px;
        height: 20px;
        background: #fff;
        margin: auto;
        border-radius: 0px 0px 13px 13px;    
    }

    .arrow-left {
        display: inline;
        float: left;
        margin: 10px 15px 0 20px;
    }

    .avatar img {
        width: 27px;
        height: 27px;
        border: 1px solid #fff;
        display: flex;
        border-radius: 50%;
        float: left;
        margin: 7px 0px 0px 5px;
    }

    .walk {
        display: inline-block;
        text-align: center;
    }

    .name {
        display: flex;
        font-size: .7em;
        color: var(--White);
        font-weight: 400;
        letter-spacing: .1em;
        margin: 8px 0px 0px 15px;
    }

    .status {
        font-size: .6em;
        color: var(--Dark-Grayish-Violet);
        position: relative;
        bottom: 5px;
    }

    .burger-menu {
        float: right;
        margin: 10px 20px 0px 20px;
    }
    
    /* fim profile */

    /* Chat */

    .left {
        width: 195px;
        font-size: .7em;
        margin: 13px 13px 8px 10px;
        padding: 8px 20px 8px 18px;
        background: rgb(233, 230, 235);
        border-radius: 15px 13px 13px 5px;
        color: var(--Moderate-Violet);
    }

    .right {
        width: 195px;
        float: right;
        background: var(--White);
        margin: 0px 10px 10px 0px;
        font-size: .7em;
        padding: 10px;
        border-radius: 13px 13px 5px 13px;
        letter-spacing: .5px;
        box-shadow: 6px 5px 4px #0000001a;
    }

    .make {
        width: 125px;
        margin-bottom: 20px;
    }

    .time-price {
        background: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
        width: 240px;
        margin: 13px 13px 8px 10px;
        padding: 10px 20px 10px 18px;
        border-radius: 15px 13px 13px 5px;
        color: var(--White);
    }

    .circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: rgb(227, 55, 250);
        float: left;
        margin-right: 15px;
        border-radius: 50%;
        border: 3px solid var(--Very-Light-Magenta);
        cursor: pointer;
    }

    .price {
        float: right;
        font-weight: bold;
    }

    /* foto dog */

    .photo-dog img {
        width: 55px;
        height: 48px;
        float: right;
        margin: 10px 15px 10px 0px;
        border-radius: 12px;
    }

    /* Button */

    .button {
        display: block;
        margin: 17px 18px 0px 14px;;
    }

    .button input {
        width: 100%;
        padding: 9px 15px 9px 25px;
        margin-bottom: 15px;
        border-radius: 25px;
        border: none;
    }

    .button input::placeholder {
        color: var(--Grayish-Blue);
    }

    button {
        position: absolute;
        border: none;
        right: 30px;
        bottom: 28px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
    }
   
/* Fim conf phone */

.container-text {
    width: 442px;
    margin: auto;
    float: right;
    position: relative;
    top: -317px;
    right: 11px;
}

.container-text h1 {
    margin-bottom: 20px;
    color: var(--Very-Dark-Desaturated-Violet);
    font-size: 2.3em;
    font-weight: 500;
}

.container-text .text {
    line-height: 23px;
    color: var(--Dark-Grayish-Violet);
}